/* :root {
  --vp-scroll-offset: 100px;
} */

.VPDoc.has-aside .content {
  padding-left: 0;
  padding-right: 0;
}

.VPDoc.has-aside .aside .content {
  padding-left: 25px;
}

.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

.rapidoc-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

rapi-doc::part(section-main-content) {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.diagram {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 20px auto;
}

.big-diagram {
  max-width: 1300px;
  /* width: 100%;
  display: block;
  margin: 20px auto; */
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  scroll-margin-top: 80px;
}

/* .vp-doc [id] {
  scroll-margin-top: 100px;
} */

/* RapiDoc styles */

.endpoint-head .method.post {
  background-color: #49cc90 !important;
  color: white;
}

rapi-doc::part(section-endpoint-head-method) {
  color: white;
  font-weight: 600;
}

/* .color-preview {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--vp-c-divider);
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 8px;
} */

.color-chip {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  /* margin-right: 6px; */
  vertical-align: middle;

  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid var(--vp-c-divider);
  border-radius: 3px;

  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 8px 8px;
}

.color-preview {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  width: 14px;
  margin-right: 4px;
}

.color-table td:nth-child(2),
.color-table td:nth-child(3),
.color-table th:nth-child(2),
.color-table th:nth-child(3) {
  white-space: nowrap;
}

.color-table td:nth-child(2) .color-preview {
  background: #f1f1f1;
}

.color-table td:nth-child(3) .color-preview {
  background: #171b19;
}
