/* :root {
  --vp-scroll-offset: 100px;
} */

.VPDoc.has-aside .content {
  padding-left: 0;
  padding-right: 0;
}

.VPDoc.has-aside .aside .content {
  padding-left: 25px;
}

.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

.rapidoc-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

.diagram {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 20px auto;
}

.big-diagram {
  max-width: 1300px;
  /* width: 100%;
  display: block;
  margin: 20px auto; */
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  scroll-margin-top: 80px;
}

/* .vp-doc [id] {
  scroll-margin-top: 100px;
} */

/* RapiDoc styles */

.endpoint-head .method.post {
  background-color: #49cc90 !important;
  color: white;
}

rapi-doc::part(section-endpoint-head-method) {
  color: white;
  font-weight: 600;
}
